{{ define "content" }}

<h2 class="mb-4">New Frame</h2>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/frame" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" name="name" placeholder="Masukkan Nama Frame" required class="form-control" value="{{ .Name }}">
            </div>

            <div class="form-group">
                <label for="category_id">Category</label>
                <!-- <p>{{ .Categories }}</p> -->
                <select name="category_id" class="form-control">
                    <option value="">-- Select Category --</option>
                    {{ range .Categories }}
                        <option value="{{ .ID }}" selected>{{ .Name }}</option>
                    {{ end }}
                </select>

            </div>

            <div class="form-group">
                <label for="location">Lokasi</label>
                <input type="text" name="location" placeholder="Masukkan Lokasi" required class="form-control" value="{{ .Location }}">
            </div>

            <div class="form-group">
                <input type="file" name="file" required class="form-control">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{{ end }}